<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Introduction">
                <md-content class="md-padding jumbotron">
                    <section id="intro_sdlc">

                        <header role="banner">

                            <h2 class="md-display-2 page-header">System Development Life Cycle</h2>

                        </header>
                        <article role="article">

                            <p><strong><span class="">Definition:</span></strong> The <strong>Systems Development Life
                                Cycle
                                (<abbr title="System Development Life Cycle">SDLC</abbr>)</strong>, also referred to as
                                the application development life-cycle, is a term used in
                                systems engineering, information systems and software engineering to describe a process
                                for planning, creating, testing, and deploying an information system. The systems
                                development life-cycle concept applies to a range of hardware and software
                                configurations, as a system can be composed of hardware only, software only, or a
                                combination of both.</p>

                        </article>
                        <footer role="contentinfo">

                            <p><abbr title="System Development Life Cycle">SDLC</abbr> is basically a widely adopted
                                technique of developing
                                <span title="Systems may be software applications, Web applications or Enterprise softwares.">systems</span>
                                in a more effective and
                                systematic way.<br><br>
                                Next we will take a look at a brief explaination of <abbr
                                        title="System Development Life Cycle">SDLC</abbr>.</p>

                        </footer>

                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Explanation">
                <md-content class="md-padding jumbotron">
                    <section id="explain_sdlc">

                        <header role="banner">

                            <h4 class="page-header">A Li'l More on System Development Life Cycle:</h4>

                        </header>
                        <article>
                            <p>A systems development life cycle is composed of a number of clearly defined and distinct
                                work phases which are used by systems engineers and systems developers to plan for,
                                design,
                                build, test, and deliver information systems.</p>
                            <p>Various <abbr title="System Development Life Cycle">SDLC</abbr> methodologies have been
                                developed to guide
                                the processes involved, including:</p>
                            <div class="ui inverted segment">
                                <div class="ui inverted accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Waterfall model (which was the original <abbr
                                            title="System Development Life Cycle">SDLC</abbr>
                                        method)
                                    </div>
                                    <div class="content">
                                            <span class="transition hidden">The waterfall model is a sequential design process, used in software development processes, in which progress is seen as flowing steadily downwards (like a waterfall) through the phases of conception, initiation, analysis, design, construction, testing, production/implementation and maintenance.</span>
                                    </div>

                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Rapid application development (<abbr
                                            title="Rapid Application Development">RAD</abbr>)
                                    </div>
                                    <div class="content">
                                        <span>Rapid application development (RAD) is a software development methodology that uses minimal planning in favor of rapid prototyping. A prototype is a working model that is functionally equivalent to a component of the product.</span>
                                    </div>

                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        Joint application development (<abbr
                                            title="Joint Application Development">JAD</abbr>)
                                    </div>
                                    <div class="content">
                                        <span>Joint application design (JAD) is a process used in the prototyping life cycle area of the Dynamic Systems Development Method (DSDM) to collect business requirements while developing new information systems for a company.</span>
                                    </div>

                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        The fountain model, the spiral model, synchronize-and-stabilize and more..
                                    </div>
                                    <div class="content">
                                        <span>Fountain: while the hardware team is doing its job, artwork starts conceptual work, and coding starts some prototyping on preexisting hw. When artists and hw finishes, coders integrate these onto their code and continue 'til finishing the game...</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <p>The system development life cycle framework provides a sequence of activities for system
                                designers
                                and developers to follow. It consists of a set of steps or phases in which each phase of
                                the
                                SDLC uses the results of the previous one. These stages or steps can be characterized
                                and divided up in different ways, including the following:
                            </p>

                            <div class="well">
                                <div class="container">
                                    <img id="sdlcSteps" class="ui circular image" src="../../images/sdlc/sdlc_circle.jpg"
                                         alt="Steps involved in SDLC">
                                </div>
                            </div>
                        </article>
                        <script>
                            $('.ui.accordion').accordion();
                        </script>
                        <footer role="contentinfo">
                            <br>
                            <p>Next we will take a look at some of the examples of <abbr title="System Development Life Cycle">SDLC</abbr>.</p>
                            <a name="gooter"></a>
                        </footer>

                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Example">
                <md-content class="md-padding jumbotron">
                    <section id="example_sdlc">

                        <header role="banner">

                        <h3 class="md-display-2 page-header">Here are some examples, that show the usage of SDLC in real world.</h3>

                    </header>
                        <article role="article">

                            <div class="container">
                                <div class="well">
                                    <img class="ui fluid image" src="http://gc200333253.computerstudi.es/teamNoClue/images/sdlc/sdlc_example1.jpeg">
                                </div>
                            </div>

                            <div class="container">
                                <div class="well">
                                    <img class="ui fluid image"
                                         src="http://gc200333253.computerstudi.es/teamNoClue/images/sdlc/sdlc_example2.jpg">
                                </div>
                            </div>

                            <div class="container">
                                <div class="well">
                                    <img class="ui fluid image" src="http://gc200333253.computerstudi.es/teamNoClue/images/sdlc/sdlc_benefits.jpeg">
                                </div>
                            </div>

                        </article>
                        <footer role="contentinfo">

                            <!-- fill in with a short summary of the current topic -->

                        </footer>

                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Test it!">
                <md-content class="md-padding jumbotron">
                    <section id="test_sdlc">

                        <header role="banner">

                            <h2 class="md-display-2 page-header">Let's Test what you've learnt</h2>

                        </header>
                        <article role="article">
                            <br><br>
                            <div class="container-fluid">
                                <div class="well">
                                    <iframe src="https://quizlet.com/142409597/learn/embed" height="600" width="100%" style="border:0"></iframe>
                                </div>
                            </div>
                        </article>
                        <footer role="contentinfo">

                            <h3 class="h3">
                                Well done! let's start with the Planning now.
                            </h3>

                        </footer>

                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>


    <div class="ui inverted segment">

        <div class="ui inverted three item secondary menu">

            <a class="item" ui-sref="{{lastTopicAddr}}" title="{{lastTopic}}">
                <span class="fa fa-chevron-left"></span>
            </a>

            <a class="item active"
               ng-class="{ active: $state.includes('study'), red: $state.includes('study.sdlc'), orange: $state.includes('study.planning'), 'yellow darken-1': $state.includes('study.analysis'), blue: $state.includes('study.design'), green: $state.includes('study.implementation'), teal: $state.includes('study.support') }">
                System {{topic}}
            </a>

            <a class="item" ui-sref="{{nextTopicAddr}}" title="{{nextTopic}}">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
    </div>
</div>