<div class="jumbotron" id="homeCnt">
    <header role="banner" id="home_header">
        <h3 id="myHeadStyle" class="page-header">Learn <span style="font-family: philosopher, 'SansSerif'">SDLC</span> the fun way! <span class="fa fa-smile-o"></span></h3>
    </header>
    <main role="main">
        <div class="ui blue-grey white-text raised segment">
            <p>
                TeamNoClue's SDLC Study platform is a one stop place to learn all about the System Development Life Cycle, in a very fun
                and engaging way. This platform has been designed in a special way to enable the learners to progress
                in a very systematic way. Different components of the website together build an intuitive platform to
                grasp the most of the knowledge for long term. These components are as follows:
            </p>
        </div>

        <ul id="webInfo" class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header blue-grey white-text active"><span class="h3"><span
                        class="fa fa-star"></span> Study Area</span></div>
                <div class="collapsible-body white"><p>The Study Area contains all the resources to learn about SDLC and
                    it's stages.
                    It has been further divided in four parts: Introduction, Explanation, Example and Test it!.
                    This makes the process of learning more fun and intuitive. <a ui-sref="^.study">Know More</a></p>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey white-text"><span class="h3"><span
                        class="fa fa-gamepad"></span> Games</span></div>
                <div class="collapsible-body white"><p>You would have guessed it right, this section contains games that
                    enriches
                    the learning process and also help in embedding the newly learnt concepts into the memory for long
                    term. Some
                    of the games are: crosswords, puzzles, Scatters, Quizs, Kahoots! and Space game, cool ahh? <span
                            class="fa fa-smile-o"></span></p></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey white-text"><span class="h3"><span class="fa fa-code"></span> Devs</span>
                </div>
                <div class="collapsible-body white"><p>This section is specially for those interested in the process
                    behind the development of this
                    platform. It describes the processes and the tools used. It also serves as a good example of
                    SDLC.</p></div>
            </li>
            <li>
                <div class="collapsible-header blue-grey white-text"><span class="h3"><span
                        class="fa fa-envelope"></span> Contact Us & <span class="fa fa-user"></span> About Us</span>
                </div>
                <div class="collapsible-body white"><p>Feedback is our only way to improve and serve in a even better
                    way. Please leave your feedback
                    through the Contact Us page or connect with on social media from the About Us page.</p></div>
            </li>
        </ul>
        <script>
            $(document).ready(function () {
                $('.collapsible').collapsible({
                    accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                });
            });

        </script>
    </main>

    <footer role="contentinfo">
        <div class="well text-center">
            <p class="h5">Good Luck <span class="fa fa-thumbs-up"></span> on your journey to learn SDLC with us. </p>
        </div>
        <h4 class="text-center"><a ui-sref="^.study" class="text-accent-3">Start Studying <span
                class="fa fa-send"></span></a></h4>


    </footer>
</div>
<div class="ui inverted segment">

    <div class="ui inverted three item secondary menu">

        <a class="item" disabled>
            <span class="fa fa-chevron-left"></span>
        </a>

        <a class="item active red" title="Home Page">
            Home
        </a>

        <a class="item" ui-sref="^.study" title="Study Area">
            <span class="fa fa-chevron-right"></span>
        </a>
    </div>
</div>